<div class="form__row row">
    <h2 class="row__title">{{ form_label(field) }}</h2>

    {% if form_errors(field) %}
        <span class="row__error">{{ form_errors(field) }}</span>
    {% endif %}

    <div class="row__widget">{{ form_widget(field) }}</div>

    {% if form_help(field) %}
        <span class="row__help">{{ form_help(field) }}</span>
    {% endif %}

</div>