.element
  width: 100%
  padding: 7px 10px
  transition: 0.1s ease-in-out
  &:hover, &:focus
    @include themify($themes)
      background: $color-background_action
  &--selected
    @include themify($themes)
      background: $color-foreground_action
    &:hover, &:focus
      @include themify($themes)
        background: $color-foreground_action
    .element__link
      cursor: not-allowed
  &__link
    text-decoration: none
    @include themify($themes)
      color: $color-text
  &__title
    font-weight: 500
    font-size: 0.9em
    display: block
  &__slug
    display: flex
    align-items: center
    font-size: 0.7em
    font-weight: 300
    @include themify($themes)
      color: $color-text_light
  &__url-icon
    font-size: 0.8em
    margin-right: 2px
