.theme-select
  @include shadow(1)
  display: flex
  border-radius: 5px
  width: 70%
  margin: 10px auto
  @include themify($themes)
    background: darken($color-foreground, 5)
  &__button
    width: calc(100% / 3)
    border-radius: 5px
    padding: 7.5px 15px
    user-select: none
    font-weight: 500
    text-decoration: none
    text-transform: uppercase
    font-size: 0.75em
    text-align: center
    transition: 0.1s ease-in-out all
    cursor: pointer
    font-family: $text-font-stack
    border: 0
    outline: none
    @include themify($themes)
      color: $color-text
      background: darken($color-foreground, 5)
    &:hover, &:focus
      @include themify($themes)
        background: darken($color-foreground, 15)
    &--active
      @include themify($themes)
        background: $color-contrast
        color: white
      &:hover, &:focus
        @include themify($themes)
          background: $color-contrast_action