{% extends 'window.html.twig' %}

{% if current %}
    {% set pageTitle = current.name ~ ' | Mocker' %}
{% else %}
    {% set pageTitle = 'Mocker' %}
{% endif %}
    {% block title %}{{ pageTitle }}{% endblock %}

{% if app.request.port == 80 %}
    {% set host = 'http://' ~ app.request.host %}
{% elseif app.request.port == 443 %}
    {% set host = 'https://' ~ app.request.host %}
{% else %}
    {% set host = 'http://' ~ app.request.host ~ ':' ~ app.request.port %}
{% endif %}


{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block window %}
    {% trans_default_domain 'application' %}
    {% include 'admin/component/_sidebar.html.twig' %}
    {% include 'admin/component/_details.html.twig' %}
    <a class="window__settings" href="{{ url('app_settings') }}">
        <span class="fas fa-cog"></span>
        {% trans %}application.window.screenSwitch.launchSettings{% endtrans %}
    </a>
{% endblock %}

{% block dialogBox %}
    {% trans_default_domain 'application' %}
    {% if current is defined and current is not null %}
        {% include 'admin/component/dialog-box.html.twig' with {
            'title': 'application.dialog-box.remove.title'|trans,
            'content': 'application.dialog-box.remove.content'|trans,
            'cancel': {text: 'application.dialog-box.remove.cancel'|trans, icon: 'fa-chevron-left'},
            'proceed': {text: 'application.dialog-box.remove.proceed'|trans, icon: 'fa-trash'},
            'link':  url('app_resource-delete', {'slug': current.slug})
        } only %}
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}