{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
    <div class="container">
        <main class="window">
            {% include 'component/_list.html.twig' %}
            {% include 'component/_details.html.twig' %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}