{% extends 'window.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block window %}
    {% include 'admin/component/_list.html.twig' %}
    {% include 'admin/component/_details.html.twig' %}
    <a class="window__settings" href="{{ url('app_settings') }}">
        <span class="fas fa-cog"></span>
        Ustawienia aplikacji
    </a>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}