{% extends 'window.html.twig' %}
{% trans_default_domain 'application' %}


{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block top_button %}
    <a class="topbar__switch" href="{{ url('app_settings') }}">
        <span class="fas fa-cog"></span>
        {% trans %}application.window.screenSwitch.launchSettings{% endtrans %}
    </a>
{% endblock %}

{% block window %}
    {% trans_default_domain 'application' %}
    {% include 'admin/component/_sidebar.html.twig' %}
    {% include 'admin/forms/_resource_form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}