<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mocker{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="theme-{{ config.get.theme }}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
