{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <main class="window">
            {% block window %}{% endblock %}
            <a class="window__settings" href="">
                <span class="fas fa-cog"></span>
                Ustawienia aplikacji
            </a>
        </main>
    </div>
{% endblock %}