{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <main class="window">
            <div class="topbar">
                <h1 class="topbar__title">
                    Mocker
                    <span class="topbar__version">{{ env.get.version }}</span>
                </h1>
                {% block top_button %}
                {% endblock %}
            </div>
            {% block window %}{% endblock %}
        </main>
    </div>
    {% block dialogBox %}{% endblock %}
{% endblock %}