.sidebar
  position: relative
  min-width: 250px
  min-height: 100%
  border-right: 1px solid darken(white, 15)
  &__title
    margin: 15px
    font-weight: 600
    font-size: 1.2em
  &__list
    display: flex
    flex-direction: column
    overflow-x: auto
    max-height: 539px
  &__new-resource
    width: 35px
    border-radius: 50%
    height: 35px
    @include shadow(1)
    text-transform: uppercase
    margin: 15px
    font-size: 0.8em
    text-decoration: none
    padding: 8px 12px
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    right: 0
    top: 0
    background: #075fba
    color: white
    &:hover, &:focus
      background: darken(#075fba, 10)