.sidebar
  position: relative
  min-width: 250px
  min-height: 100%
  @include shadow(1)
  &__title
    margin: 10px
    font-weight: bold
    font-size: 1.2em
  &__list
    display: flex
    flex-direction: column
    overflow-x: auto
    max-height: 500px
  &__new-resource
    width: 100%
    text-transform: uppercase
    margin: 0
    font-size: 0.8em
    display: block
    text-decoration: none
    padding: 8px 12px
    position: absolute
    bottom: 0
    background: #075fba
    color: white
    &:hover, &:focus
      background: darken(#075fba, 10)