<div class="about">
    {% if config.get.theme== "light" %}
        <img class="about__logo" src="{{ asset('build/image/architektur-logo-dark.svg') }}" alt="Creator logo">
    {% else %}
        <img class="about__logo" src="{{ asset('build/image/architektur-logo-light.svg') }}" alt="Creator logo">
    {% endif %}
    <table class="about__data">
        <tr class="about__row">
            <td class="about__column about__column--title">Version</td>
            <td class="about__column">1.0.0-dev</td>
        </tr>
        <tr class="about__row">
            <td class="about__column about__column--title">Environment</td>
            <td class="about__column">Development</td>
        </tr>
        <tr class="about__row">
            <td class="about__column about__column--title">Server address</td>
            <td class="about__column">{{ app.request.httpHost }}</td>
        </tr>
        <tr class="about__row">
            <td class="about__column about__column--title">Your IP</td>
            <td class="about__column">{{ app.request.clientIp }}</td>
        </tr>
    </table>
</div>