<div class="dialog dialog--hidden" aria-hidden="true">
    <div class="dialog__background"></div>
    <div class="dialog__foreground">
        <main class="dialog__window">
            <h2 class="dialog__title">
                <span class="fas fa-exclamation fa-fw dialog__icon"></span>
                Import pliku
            </h2>

            <p>Tu będzie form</p>
            <div class="dialog__buttons">
                <button class="dialog__return" data-dialog-back>
                    {% if cancel.icon is defined and cancel.icon is not null %}
                        <span class="fas {{ cancel.icon }} fa-fw"></span>
                    {% endif %}
                    {{ cancel.text }}
                </button>
                <a class="dialog__proceed" href="">
                    {% if proceed.icon is defined and proceed.icon is not null %}
                        <span class="fas {{ proceed.icon }} fa-fw"></span>
                    {% endif %}
                    {{ proceed.text }}
                </a>
            </div>
        </main>
    </div>
</div>