<article class="details" data-hasCode="true">
    {% if current is not null %}
        <h2 class="details__title">{{ current.name }}</h2>
        <p class="details__desc">
            {{ current.description }}
        </p>
        <pre class="details__code"><code class="json details__exact-code">{{ current.content }}</code></pre>
        <a class="details__settings" href="">
            <span class="fas fa-cog"></span>
        </a>
        <div class="details__actions">
            <a href="" class="details__edit">
                <span class="fas fa-pen fa-fw"></span>
                Edytuj
            </a>
            <a href="" class="details__delete">
                <span class="fas fa-trash fa-fw"></span>
                Usuń
            </a>
        </div>
    {% endif %}
</article>