<section class="details">
    {% if current is not null %}
            <h2 class="details__title">{{ current.name }}</h2>
            <code lang="json">
                    {{ current.content }}
            </code>
    {% endif %}
</section>