<nav class="sidebar">
    <h1 class="sidebar__title">Zasoby</h1>
    <ul class="sidebar__list">
        <li class="sidebar__element element">
            <a href="" class="element__link">
                <span class="element__title">Zasób #1</span>
                <span class="element__slug">/api/zasob-1</span>
            </a>
        </li>
        <li class="sidebar__element element">
            <a href="" class="element__link">
                <span class="element__title">Zasób #2</span>
                <span class="element__slug">/api/zasob-2</span>
            </a>
        </li>
        <li class="sidebar__element element element--selected
">
            <a href="" class="element__link">
                <span class="element__title">Zasób #3</span>
                <span class="element__slug">/api/zasob-3</span>
            </a>
        </li>
        <li class="sidebar__element element">
            <a href="" class="element__link">
                <span class="element__title">Zasób #4</span>
                <span class="element__slug">/api/zasob-4</span>
            </a>
        </li>
    </ul>
    <a class="sidebar__new-resource" href="">Dodaj zasób</a>
</nav>