{% extends 'admin/dialog/abstract/_dialog.html.twig' %}
{% trans_default_domain 'application' %}
{% block dialog_content %}
    <p class="dialog__content">
        {{ 'application.dialog-box.remove.content'|trans }}
    </p>
{% endblock %}